.boundary {
  background: var(--blue);
  background: linear-gradient(
    to right,
    #1e5799 0%,
    #207cca 34%,
    #2989d8 71%,
    #7db9e8 100%
  );

  width: 100%;
  height: 100%;
}
.boundary-wrapper {
	max-width: 768px;
	margin: 0 auto;
  display: grid;
  grid-auto-flow: row;
  grid-template-areas:
    "title title title"
    "details details details";
}
.title {
	color: var(--white);
  text-align: center;
  margin: 40px 0px;
  grid-area: title;
}
.details {
  padding: 1rem;
  background-color: var(--white);
  border-radius: 6px;
  white-space: pre-wrap;
  grid-area: details;
}

@media (min-width: 640px) {
  .boundary-wrapper {
    display: grid;
    grid-auto-flow: row;
    grid-template-areas:
      "... ... title ... ..."
      "... details details details ...";
  }
}
