.TaskBoard {
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.TaskBoard_Header {
    margin: 0;
    text-align: center;
    margin-bottom: 1.5rem;
}

.TaskBoard_ColumnsSlot {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 640px) {
    .TaskBoard_ColumnsSlot {
        gap: 1rem;
        flex-wrap: nowrap;
    }
}
