:root {
  --blue: #1e5799;
  --white: #ffffff;
  --teal: #2dd4bf;
  --yellow: #f59e0b;
  --fuchsia: #d946ef;
  --test: #60a5fa;

  --border-radius-low: 0.5rem;

  --640: 640px;
  --768: 768px;
  --1024: 1024px;
  --1280: 1280px;
  --1536: 1536px;

  --color-1: #186cb8;
  --color-2: #2a9a9f;
  --color-3: #f1b211;
  --color-4: #e83611;
  --color-5: #f9002f;
}
